body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 15px;
}
table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    border-bottom-width: 2px;
    padding: 6px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.one {
    color: #20cf7f;
}
.zero {
    color: #828282;
}
.bold-output {
    font-weight: bold;
    background-color: #fbfbfb;
    border-left-width: 2px;
    border-right-width: 2px;
}
.row-number {
    border-left: none;  // Make left border invisible
    border-right: none;  // Make right border invisible
    text-align: right;  // Optional: Align the row numbers to the right
}
